      <!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">List Company</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
           <!-- DataTales Example -->
           <div class="card shadow mb-4 col-md-12"> 
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Ticker</th>
                      <th>Company Name</th>
                      <th>Count</th>
                      <th>Comun</th> 
                      <th>Detail</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Ticker</th>
                      <th>Company Name</th>
                      <th>Count</th>
                      <th>Comun</th> 
                      <th>Detail</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let item of mains"> 
                      <td>{{item.ticker}}</td>
                      <td>{{item.company}}</td>
                      <td>{{item.count}}</td>
                      <td>{{item.comun}}</td>
                      <td [routerLink]="['/admin/edit', item.id]">
                        <img src="assets/img/edit.svg" alt="Edit"
                          srcset="assets/img/edit.svg 100w, assets/img/edit.svg 200w"
                          sizes="(min-width: 600px) 200px, 100vw">
                        </td> 
                    </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-arrow-up"></i>
</a>