.card-router{
    cursor: pointer;
}

.scroll-div{ 
    overflow-y: scroll;
    height: 74vh;
    max-height: 74vh;
}

.text-center{
    text-align: center;
}
.text-info{
    color: #4e73df!important;
}
.btn-info{
    background-color: #4e73df !important;
}